# Bot Configuration
DISCORD_TOKEN=your-bot-token
DISCORD_CLIENT_ID=your-client-id
DISCORD_CLIENT_SECRET=your-client-secret
DISCORD_CLIENT_PUBLIC_KEY=your-client-public-key

# Database Configuration
DATABASE_URL=mongodb://localhost:27017/riikonbot

PREFIX="rii"

DASHBOARD_PORT=3123

# Telegram Integration
TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
TELEGRAM_CHAT_ID="your_telegram_chat_id"

GEMINI_API_KEY=your-gemini-api-key

SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret

YOUTUBE_COOKIES_BASE64=<base64_encoded_content_of_yt.txt>
YTMUSIC_COOKIES_BASE64=<base64_encoded_content_of_yt-music.txt>